:root {
  --dark-blue: #14213D;
  --very-orange: #FCA311;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 72px;
  margin: 50px 0px auto;
  color: var(--dark-blue);
}

h3 {
  font-size: 36px;
  color: var(--dark-blue);
}

h5 {
  font-size: 24px;
  font-weight: 600;
  padding-top: 1em;
}

ul {
  padding-left: 1em;
  padding-top: 0.5em;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  max-width: 50%;
  background-color: #E5E5E5;
  padding: 1.75em;
  border-radius: 20px;
  /* border: 1px solid blue; */
}

img {
  border-radius: 5px;
  border: 3px solid var(--dark-blue);
  width: 100%;
  height: auto;
  max-height: 400px;
}

button {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  color: var(--dark-blue);
  background-color: var(--very-orange);
}

.left {
  justify-self: start;
  align-self: center;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.right {
  place-self: center;
}

@media screen and (max-width: 1024px) {

  img {
    max-height: 300px;
  }

  h3 {
    padding-top: 0;
  }

  h5 {
    padding-top: 0.5em;
  }

  section {
    grid-template-columns: 1fr;
    gap: 1em;
  } 

  .left {
    grid-row: 2;
  }

}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 48px;
    margin: 30px 0px auto;
    text-align: center;
  }

  img {
    max-height: 250px;
  }

  section {
    max-width: 100%;
    border-radius: 0;
    padding: 1.5em;
  }
}